
#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
    -webkit-user-select: none;
  user-select: none;
  padding-left: 16px;
  padding-top: 10px;
  
}

#menuToggle .navbar-link
{
  text-decoration: none;
  color: rgb(18, 82, 104);
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color:darkgoldenrod;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
cursor: pointer;
opacity: 0; 
  z-index: 2; 
  padding-left: 16px;
  padding-top: 10px;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:  rgb(18, 82, 104);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(18, 82, 104);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  top: 0;
  left: 0;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  width: 300px;
  height: 100%;
  padding: 50px;
  overflow: hidden;
  background: rgb(229, 207, 149);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.navbar-link {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    font-family: 'Shippori Mincho', serif;
    font-weight: 300;
    font-size: 22px;
    width: 100%;
    text-decoration: none;
    transition: color .5s ease, padding .5s ease;
}

.navbar-link:last-child {
    margin-top: 224px;
  }



  .navbar-link:hover,
  .navbar-link:focus {
    padding-left: 15px;
}
 
.navbar-link:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    transition: width 0s ease;
}
 
.navbar-link:after {
    content: '';
    display: block;
    position: absolute;
       left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    transition: width .5s ease;
}

.navbar-link:hover:before {
    width: 0%;
    background: #3bc1a0;
    transition: width .5s ease;
}
 
.navbar-link:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}



