.overall-container {
    display: grid;
    grid-template-areas: "nav header header"
                        "catalogue catalogue catalogue"
                        "footer footer footer";
    grid-gap: 10px;
    padding: 10px;
}

.header-container {
    grid-area: header;
    background-color:  rgb(18, 82, 104);
    justify-content: center;
    /* margin-left: -290px; */
 }

.contacts-container {
    grid-area: catalogue;
    position: relative;
  }

.footer-container {
    grid-area: footer;
    color: darkblue;
       background-color: rgb(153, 229, 143);
   }

.catalogue-container {
    grid-area: catalogue;
    color: darkgoldenrod;
        background-color: rgb(18, 82, 104);
}

.navbar-container {
    grid-area: nav;
}

.main-container {
    grid-area: catalogue;
}


