.container-cartsbook {
    display: grid;
    grid-template-columns: 160px 150px 100px 100px 10px;
    grid-template-rows: 190px 20px;
}

.cartsbook-delete{
    cursor: pointer;
}

.cartsbook-delete::before {
    content: '✘';
}