.overall-container {
    display: grid;
    grid-template-areas:
        "nav header header"
        "catalogue catalogue catalogue"
        "footer footer footer";
    grid-gap: 10px;
    padding: 10px;
}
